.todo-list {
  background: rgba(255, 255, 255, 0.045);
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 50%;
  height: 100%;
}

.todo-item-container {
  width: 100%;
}

.input-item, .btn-submit {
  border: 1px solid black;
}