@tailwind base;
@tailwind components;
@tailwind utilities;

.weather-input-item {
  
}

.weather-nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  /* outline: 1px solid red; */
}

.weather-body {
  height: 85%;
  display: flex;
  gap: 1em;
  flex-direction: row;
  justify-content: space-between;
}

.weather-nav-name-container {
  display: flex;
  align-items: flex-start;
}

.weather-nav-title {
  font-weight: 400;
}

.weather-graph {
  position: relative;
  height: 95% !important;
  width: 60% !important;

  background: rgba(255, 255, 255, 0.045);
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.weather-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 40%;

  background: rgba(255, 255, 255, 0.045);
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.weather-content {
  display:flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}

.weather-content-image {
  
}

.weather-data {
  display:inline-flex;
  align-items: flex-start;
}

.weather-data-item {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem;
}