@tailwind base;
@tailwind components;
@tailwind utilities;

.weather-input-item {
  border: 2px solid black;
}

.weather-graph {
  max-width: 400px;
}

.weather-nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin:2rem;
}

.weather-nav-name-container {
  display:inline-flex;
  align-items: flex-start;
}