nav {
  height: 10vh;
  color: var(--soft-yellow);
}

.nav-username {
  
}

.nav-button {
  background-color: #ffffff18;
  transition: .5s;
}

.nav-button:hover {
  background-color: #6376966d;
  transition: .5s;
}