/** Sidebar */

.sidebar-container {
  position: fixed;
  right: 0;
  top: 0; 

  width: 450px; /*! RESPONSIVE  */

  background: rgba(255, 255, 255, 0.111);
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/** Sidebar Toggle Button */

.toggle-sidebar {
  top: 0;
  left: 0;
  
  height: 40px;
  width: 40px;
  
  margin: 1em .5em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.109);
  color: var(--soft-yellow);
  cursor: pointer;
  opacity: .5;
}

.toggle-sidebar:hover {
  opacity: 1;
  transition: .1s;
}

.sidebar-tooltip {
  position: absolute;
  left: -150px;
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background: rgba(255, 255, 255, 0.111);
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 20px;
  padding: .5em;
  transition: .2s;
}

/** Sidebar Widget Header */

.widget-header {
  padding-top: 3em;
  padding-inline: .75em;
  color: var(--soft-yellow);
}
