@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

.news-container {
  flex-wrap: wrap;
  width: 50%;
  height: 100%;

  background: rgba(255, 255, 255, 0.045);
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  font-family: 'Sora', sans-serif;
  text-align: center;
  font-weight: 300;
  --calendar-soft-yellow: #F2D3AB;
  color: #f2d3ab;
  --calendar-today-dark-blue: #35445d;
  --calendar-selected-dark-blue: rgba(53, 68, 93, 0.5);
  padding: 0em 1em;
}

.news-title {
  font-weight: 400;
}

.news-nav {
  height: 15%;
}

.news-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-right: .5em;
  height: 85%;
  overflow-y: scroll;
  padding-bottom: 1em;
}
