.app-toggle-sidebar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.109);
  color: var(--soft-yellow);
  cursor: pointer;
  opacity: 1;
  margin: 1em .5em;
}

.app-layout-container {
  width: 75vw;
  height: 90vh;
  padding: 1em;
  /* outline: 1px solid red; */
}

.app-layout-container * {
  /* outline: 1px solid red; */
}